services:
    langgraph-api:
        volumes:
            - ./backend/graph/giga_agent:/app/giga_agent:rw
            - ./backend/graph/langgraph.json:/aegra.json:ro
        extra_hosts:
            - "host.docker.internal:host-gateway"
        command: >
            sh -c "
              echo 'Running database migrations...' &&
              uv run alembic upgrade head &&
              echo 'Starting Aegra server...' &&
              uv run uvicorn src.agent_server.main:app --host 0.0.0.0 --port 8000 --reload --reload-dir /app/giga_agent
            "
    repl:
        command: uv run uvicorn app.main:app --host 0.0.0.0 --port 9090
        volumes:
            - ./backend/repl/app:/app:rw
    upload_server:
        command: uv run uvicorn app.upload_server:app --host 0.0.0.0 --port 9092
        volumes:
            - ./backend/repl/app:/app:rw
    tool_server:
        command: uv run uvicorn giga_agent.tool_server.tool_server:app --host 0.0.0.0 --port 9091 --reload --reload-dir /app/giga_agent
        extra_hosts:
            - "host.docker.internal:host-gateway"
        volumes:
            - ./backend/graph/giga_agent:/app/giga_agent:rw
    giga_agent_server:
        command: uv run uvicorn giga_agent.tasks_app:app --host 0.0.0.0 --port 8822 --reload --reload-dir /app/giga_agent
        volumes:
            - ./backend/graph/giga_agent:/app/giga_agent:rw
    frontend:
        build:
            context: ./misc
            dockerfile: DockerfileNginxEmpty
        image: nginx:alpine
        volumes:
            - ./front/nginx.dev.conf:/etc/nginx/conf.d/default.conf:ro
        depends_on:
            frontend-dev:
                condition: service_started

    frontend-dev:
        build:
            context: ./front
            dockerfile: DockerfileDev
        working_dir: /app
        command: npm run dev -- --host 0.0.0.0 --port 3000
        ports:
            -   "8081:3000"
        env_file:
            -   .docker.env
        environment:
            RUNNING_ENV: docker
        volumes:
            - ./front/public:/app/public:rw
            - ./front/src:/app/src:rw
            - ./front/index.html:/app/index.html:ro
            - ./front/vite.config.ts:/app/vite.config.ts:ro